{
    "root": true,
    "extends": [
        "eslint:recommended",
        "prettier"
    ],
    "rules": {
        "jest/no-disabled-tests": "warn",
        "prettier/prettier": "error"
    },
    "plugins": [
        "prettier",
        "jest"
    ]
}
