{
    "arrowParens": "avoid",
    "bracketSpacing": true,
    "htmlWhitespaceSensitivity": "css",
    "quoteProps": "as-needed",
    "singleQuote": false,
    "semi": true,
    "trailingComma": "none"
}
